<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team2.healthsns.mapper.MapMapper">
<insert id = "WriteReview" >
	insert into review(userid, name, rating, latitude, longitude, review)
	values(#{userid},#{name},${rating},#{latitude},#{longitude},#{review})
</insert>

<select id = "GetPlaceReview" resultType="com.team2.healthsns.vo.ReviewVO">
select rating,userid,review
from review
where longitude=#{param1} and latitude=#{param2} and name = #{param3}
</select>

</mapper>
