<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team2.healthsns.mapper.UserMapper">

    <select id="UserSelectAll" resultType="com.team2.healthsns.vo.UserVO">
        select *
        from user_info
        where userid=#{param1}
    </select>

    <select id="GetSessionEmail">
        select email
        from user_info
        where userid=#{param1}
    </select>

    <select id="GetFollowRanking">
        select u.userid as userid, u.username as username
        from user_info u
        order by (
        select count(f.userid)
        from follow f
        where f.userid = u.userid
        ) desc
        limit 9;
    </select>

    <select id="getTopPostsByDate">
        SELECT post_id, userid, title
        FROM board
        WHERE DATE(write_date) = #{date}
        ORDER BY views DESC
        LIMIT 9;
    </select>

    <select id="idCheck">
        select count(userid) from user_info
        where userid=#{param1}
    </select>


    <!-- 회원가입 -->
    <insert id="userInsert">
        insert into
        USER_INFO(userid,userpwd,username,email,pwd_q,pwd_a,profile_img)
        values(#{userid}, #{userpwd}, #{username}, #{email}, #{pwd_q},
        #{pwd_a}, #{profile_img})
    </insert>

    <!-- 로그인 -->
    <select id="loginSelect">
        select userid
        from USER_INFO
        where userid=#{param1} and userpwd=#{param2}
    </select>

    <!-- 아아디 찾기 -->
    <select id="findId">
        select userid from USER_INFO where email=#{useremail}
    </select>

    <!-- 비밀번호 찾기 -->
    <select id="findPw"> <!-- true, false 반환 -->
        SELECT userid
        FROM user_info
        WHERE userid=#{param1} AND email=#{param2} AND pwd_q=#{param3} AND
        pwd_a=#{param4}
    </select>

    <!-- 비밀번호 변경 -->
    <update id="changePwd">
        update user_info
        set userpwd = #{param1}
        where userid = #{param2}
    </update>

    <select id="emailCheck">
        select count(userid)
        from user_info
        where email=#{param1}
    </select>

    <update id="updateUser">
        update user_info
        set userid=#{param1}, username=#{param2}, email=#{param3}, pwd_q=#{param4}, userpwd=#{param6}, pwd_a=#{param5}
        <if test="#{param7}!=null and #{param7}!=''">
            ,comment=#{param7}
        </if>
        where userid=#{param8}
    </update>
</mapper>