<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"	
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.myapp.dao.WalkingDao">
	<select id="walkingSelect" resultType="com.multi.myapp.vo.WalkingVO">
		select * from walkinglist
	</select>
	<insert id="WalkingInsert">
		insert into walkinglist(userid, walkingname, startPoint, endPoint, walkingcontent, people, hashtag) values(#{userid}, #{walkingname}, #{startPoint}, #{endPoint}, #{walkingcontent}, #{people}, #{hashtag})
	</insert>
</mapper>