.main{
    margin : 0 auto;

}
.main>.main-container{
    margin: 0 auto;
    width: 700px;
    height : 1000px;
    border: 5px solid black;
    margin-bottom: 20px;
    margin-top : 100px;
    
}
#boardList{
	overflow:auto;
	}
	
#boardList>li{
	float:left;
	height:40px;
	line-height:40px;
	border-bottom:1px solid #ddd;
	width:10%;
}
#boardList>li:nth-child(5n+1){
	margin-left:10px;
}
#boardList>li:nth-child(n){
	width:18%;
	/*말중임하기*/
	white-space:nowrap;/*줄바꾸지 않음*/
	overflow:hidden;/*넘친데이터숨기기*/
	text-overflow:ellipsis;/*넘친데이터가 있으면 ... 표시하기*/	
	}